.table tr td img {
    width: 80px !important;
    height: 80px !important;
    object-fit: cover;
}

td i {
    cursor: pointer;
}

td, 
th {
    color: var(--primary-color);
}
.checkoutbtn {
    background: white;
    color: var(--primary-color);
}
.checkoutbtn:hover {
    background: var(--primary-color);
    color: white;
}

.cartfix {
    border: 1px solid var(--small-text-color);
    border-radius: 5px;
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 8px;
    height: 35px;
    align-items: center;
}

.quantitySect {
    display: grid;
}

.deleteIcon {
    /* text-align: center; */
    font-size: 20px;
    color: red;
    
}


@media only screen and (max-width: 992px) {
    .table tr td img {
        width: 50px !important;
        height: 50px !important;
    }
    .theaders {
        font-size: 10px;
        
    }
    .cartfix,
    .cartFi {
        font-size: 0.6rem;
    }
   
}

@media only screen and (max-width: 768px) {  
}


@media only screen and (max-width: 576px) {
}